/*

	red: #e83326;
	green: #27e833;
	blue: #3326e8;

 */

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Computer Modern Typewriter', monospace;
	font-size: 14pt;
}

.unselectable {
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header, .content, .footer {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	clear: both;
}

.header, .footer {
	padding: 10px;
	height: 10%;
	border: 1px solid black;
	border-radius: 4px;
}

.content {
	height: 90%;
	display: block;
	overflow: auto;
}

.top-left {
	position: absolute;
	top: 10px;
	left: 10px;
}

.bottom-right {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.main {
	width: 100%;
	height: 100%;
}

.centered {
	width: 100%;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
}

.full-width {
	box-sizing:border-box;
	width: 100%;
	overflow: auto;
}

.half-width {
	box-sizing:border-box;
	width: 50%;
	overflow: auto;
	float: left;
}

.third-width {
	box-sizing: border-box;
	text-align: center;
	width: 33.333333%;
	overflow: auto;
	float: left;
}

.fourth-width {
	box-sizing: border-box;
	text-align: center;
	width: 25%;
	overflow: auto;
	float: left;
}

.tabs{
	
}

.tabs-content {
	box-sizing: border-box;
	border: 1px solid black;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	height: calc(100% - 49px);
	overflow: auto;
	border-top: none;
	padding: 10px;
}

.center-modal {
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-content {
	max-width: 80%;
}

.progress-text {
	color: black;
}

.tier {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.unit-container {
	padding: 0 !important;
	margin: 0;
	border-radius: 4px;
	border: 1px solid black;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
}

.unit-bar {
	height: 5px;
	width: 100%;
}

#territory-list, #territory {
	box-sizing: border-box;
	height: 100%;
	float: left;
}

#territory-list, #territory {
	display: block;
	height: 100%;
	overflow: auto;
}

#territory-list {
	width: 20%;
	border-radius: 4px;
	border: 1px solid black;
}

#territory {
	width: 80%;
}

#territory-list {
	padding: 10px;
}

.purchaseable {
	color: #27E833;
}

.not-purchaseable {
	color: #e83326;
}

.research {
	border-collapse: separate;
}

.research th, td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0);
}

.research th:first-child {
	border-left: 1px solid black;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.research td:last-child {
	border-right: 1px solid black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.research-header th{
	background-color: #FFF;
	border: none !important;
}

#info {
	padding: 10px;
	border: 1px solid black;
	border-radius: 4px;
}