<!-- public/views/modals/Prestige.html -->

<div class="modal-header">
	<button type="button" class="close" ng-click="close()">&times;</button>
	Prestige
</div>
<div class="modal-body">
	You've conquered the known galaxy. You can now prestige, which restarts your game with...	
	<!-- TODO: Insert prestige bonuses -->
	<ul>
		<li>most territory research at level {{ getResearchLevel() }}</li>
		<li>more galaxies to conquer</li>
	</ul>
	You can also continue playing this universe to gain more achievements. You can prestige at any time by going to Menu > Reset and selecting the Prestige option.
</div>
<div class="modal-footer">
	<button type="button" ng-click="prestige()">Prestige</button>
	<button type="button" ng-click="continue()">Continue</button>
</div>