<!-- public/views/index.html -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Pax Cosmica</title>

    <!-- CSS -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/fonts/cmun-typewriter.css" />

    <!-- RequireJS -->
    <script src="libs/requirejs/require.js" data-main="js/main.js"></script>
</head>
<body>
    <div class="header" ng-controller="MainController">
        <span class="top-left">Pax Cosmica v{{ getVersion() }}</span>
        <span class="bottom-right">
            <a ui-sref="menu">Menu</a>
            <a ui-sref="index">Info</a>
            <a ui-sref="ship.main">Ship</a>
            <a ui-sref="territory">Territory</a>
        </span>
    </div>
    <div class="content" id="content" ui-view>
        <div class="centered">Loading; please wait</div>
    </div>
</body>
</html>