<!-- public/views/Info.html -->

<div id="info" class="main" ng-controller="InfoController">
	<p>You have been playing for {{ getPlayingFor() }} (since {{ getStartDate() }})</p>
	<p ng-show="hasCompleted()">
		Completed...
		<ul>
			<li ng-repeat="tier in getCompleted() track by $index" ng-show="hasCompleted($index)">
				{{ tier.toString() }} {{ getCompletedName($index) }}
			</li>
		</ul>
	</p>
</div>