<!-- public/views/Menu.html -->

<div class="main" ng-controller="MainController">
	<tabset class="tabs" justified="true">
		<tab ui-sref="menu.save" ui-sref-active="active">
			<tab-heading>
				<a>Save/Load</a>
			</tab-heading>
		</tab>
		<tab ui-sref="menu.reset" ui-sref-active="active">
			<tab-heading>
				<a>Reset</a>
			</tab-heading>
		</tab>
		<tab ui-sref="menu.log" ui-sref-active="active">
			<tab-heading>
				<a>Change Log</a>
			</tab-heading>
		</tab>
	</tabset>
	<div class="tabs-content" ui-view="container">
</div>