<!-- public/views/Ship.html -->

<div class="main" ng-controller="ShipController">
	<tabset class="tabs" justified="true">
		<tab ui-sref="ship.main" ui-sref-active="active">
			<tab-heading>
				<a>Ship</a>
			</tab-heading>
		</tab>
		<tab ui-sref="ship.research" ui-sref-active="active">
			<tab-heading>
				<a>Research</a>
			</tab-heading>
		</tab>
		<tab ui-sref="ship.crew" ui-sref-active="active" ng-show="hasCompleted(0)">
			<tab-heading>
				<a>Crew</a>
			</tab-heading>
		</tab>
		<tab ui-sref="ship.cargo" ui-sref-active="active" ng-show="hasCompleted(1)">
			<tab-heading>
				<a>Cargo</a>
			</tab-heading>
		</tab>
		<tab ui-sref="ship.engine" ui-sref-active="active" ng-show="hasCompleted(2)">
			<tab-heading>
				<a>Engine</a>
			</tab-heading>
		</tab>
		<tab ui-sref="ship.armor" ui-sref-active="active" ng-show="hasCompleted(3)">
			<tab-heading>
				<a>Armor</a>
			</tab-heading>
		</tab>
		<tab ui-sref="ship.shields" ui-sref-active="active" ng-show="hasCompleted(4)">
			<tab-heading>
				<a>Shields</a>
			</tab-heading>
		</tab>
		<tab ui-sref="ship.weapons" ui-sref-active="active" ng-show="hasCompleted(5)">
			<tab-heading>
				<a>Weapons</a>
			</tab-heading>
		</tab>
	</tabset>
	<div class="tabs-content" ui-view="container">
</div>