<!-- public/views/Territory.html -->

<div id="territory-holder" class="main" ng-controller="TerritoryController">
	<tabset class="tabs" justified="true">
		<tab ui-sref="territory.main" ui-sref-active="active">
			<tab-heading>
				<a>{{ getName() }}</a>
			</tab-heading>
		</tab>
		<tab ui-sref="territory.research" ui-sref-active="active">
			<tab-heading>
				<a>Research</a>
			</tab-heading>
		</tab>
	</tabset>
	<div class="tabs-content" ui-view="container">
</div>