<!-- public/views/Territory.html -->

<div class="main" ng-controller="TerritoryListController">
	<div class="tier-list" ng-repeat="tierArray in getTiers() track by $index" ng-show="haveTier($index)">
		<div ng-click="collapse($index)"><a ng-show="!isCollapsed($index)">[-]</a><a ng-show="isCollapsed($index)">[+]</a>{{ getPluralName($index) }}</div>
		<ul ng-show="!isCollapsed($index)">
			<li ng-repeat="tier in tierArray">
				<a ng-href="/Territory?tier={{ $parent.$index }}&index={{ $index }}">{{ tier.getName() }}</a>
			</li>
		</ul>
	</div>
</div>