<!-- public/views/MenuBugs.html -->

<div class="full-width" ng-controller="MainController">
	<h1>Change Log</h1>
	<dl>
		<dt>v0.1.01</dt>
		<dd>
			<ul>
				<li>Double active tabs on refresh</li>
			</ul>
		</dd>
	</dl>
</div>