<!-- public/views/Save.html -->

<div class="full-width" ng-controller="MainController">
	<h1>Save</h1>
	<p>The game saves automatically every 60 seconds. You can manually save by clicking below.</p>
	<button class="full-width" ng-click="save()">Save</button>

	<h1>Export/Import Save</h1>
	<p>You can export your game by clicking "Export" and saving the text generated in the box. Similarly, paste a save game in the box and click "Import".</p>
	<button class="full-width" ng-click="exportSave()">Export</button>
	<textarea class="full-width" ng-model="saveArea" rows="4"></textarea>
	<button class="full-width" ng-click="importSave()">Import</button>
		
</div>