<!-- public/views/Menu.html -->

<div class="full-width" ng-controller="MainController">
	<h1>Prestige Reset</h1>
	<p ng-show="!canPrestige()">You are not currently eligible for a prestige reset.</p>
	<div ng-show="canPrestige()">
		<p>You are eligible for a prestige reset.</p>
		<button class="full-width" ng-click="prestige()">Prestige</button>
	</div>
	<h1>Hard Reset</h1>
	<p>WARNING: THIS WILL RESET ALL OF YOUR DATA. YOU WILL LOSE ALL PROGRESS. THERE IS NO CONFIRMATION.</p>
	<button class="full-width" ng-click="reset()">Reset</button>
</div>