<!-- public/views/MenuLog.html -->

<div class="full-width" ng-controller="MainController">
	<h1>Change Log</h1>
	<dl>
		<dt>v0.1.01</dt>
		<dd>
			<ul>
				<li>
					Added Territory
					<br />
					Basic functions; initial research
				</li>
				<li>
					Added Ship
					<br />
					Basic functions; initial research
				</li>
				<li>
					Added Prestige
					<br />
					Prestige after conquering prestige squared galaxies; most research starts at prestige level
				</li>
			</ul>
		</dd>
	</dl>
</div>