<!-- public/views/Ship.html -->

<div class="main" ng-controller="ShipController">
	<h1>Ship</h1>
	<p>Click the components to generate parts.</p>
	<div ng-repeat="component in getComponents() track by $index" ng-click="turnComponentOn($index)">
		{{ component.name }}: {{ component.value.toString() }}
		<br />
		<progressbar type="success" max="component.max" value="component.counter"><span class="progress-text">{{ getSeconds(component.counter, component.max) }}</span></progressbar>
	</div>
</div>