<!-- public/views/tabs/TerritoryResearch.html -->

<div class="full-width" ng-controller="TerritoryController">
	<h1>Research</h1>
	<p>{{ getResourceName() }}: {{ getResourceAmount().toString() }}</p>
	<p>Complete {{getPluralType() }} to earn {{ getResourceName() }}. Use {{ getResourceName() }} to upgrade all {{ getPluralType() }}. Click green research to buy.</p>
	<div ng-click="collapse('general')">
		<a ng-show="!isCollapsed('general')">[-]</a><a ng-show="isCollapsed('general')">[+]</a>General
	</div>
	<div ng-show="!isCollapsed('general')">
		<table class="main unselectable research">
			<tr class="research-header">
				<th></th>
				<th>Current</th>
				<th>Upgraded</th>
				<th>Cost</th>
			</tr>
			<tr class="{{ getGeneralClass('autocomplete') }}" ng-click="buyGeneralResearch('autocomplete')" ng-hide="getGeneralResearch().autocomplete.value">
				<th>Autocomplete After Objective</th>
				<td>Off</td>
				<td>On</td>
				<td>{{ getGeneralCost('autocomplete').toString() }}
			</tr>
			<tr class="{{ getGeneralClass('autocompleteTime') }}" ng-click="buyGeneralResearch('autocompleteTime')" ng-show="getGeneralResearch().autocomplete.value && !getGeneralResearch().autocompleteTime.isOne">
				<th>Autocomplete After...</th>
				<td>{{ getSeconds(getGeneralResearch().autocompleteTime.value).toString() }}s</td>
				<td>{{ getSeconds(getGeneralNext('autocompleteTime')).toString() }}s</td>
				<td>{{ getGeneralCost('autocompleteTime').toString() }}
			</tr>
			<tr class="{{ getGeneralClass('startingCurrency') }}" ng-click="buyGeneralResearch('startingCurrency')">
				<th>Starting {{ getCurrency().name }}</th>
				<td>{{ getGeneralResearch().startingCurrency.value.toString() }}</td>
				<td>{{ getGeneralNext('startingCurrency').toString() }}</td>
				<td>{{ getGeneralCost('startingCurrency').toString() }}
			</tr>
			<tr class="{{ getGeneralClass('startingCurrencyRate') }}" ng-click="buyGeneralResearch('startingCurrencyRate')">
				<th>Starting {{ getCurrency().name }} Growth Rate</th>
				<td>{{ getGeneralResearch().startingCurrencyRate.value.toString() }}</td>
				<td>{{ getGeneralNext('startingCurrencyRate').toString() }}</td>
				<td>{{ getGeneralCost('startingCurrencyRate').toString() }}
			</tr>
		</table>
	</div>
	<div ng-repeat="unit in getUnitResearch() track by $index">
		<div ng-click="collapse($index)">
			<a ng-show="!isCollapsed($index)">[-]</a><a ng-show="isCollapsed($index)">[+]</a>{{ getUnitName($index) }}
		</div>
		<div ng-show="!isCollapsed($index)">
			<table class="main unselectable research">
				<tr class="research-header">
					<th></th>
					<th>Current</th>
					<th>Upgraded</th>
					<th>Cost</th>
				</tr>
				<tr class="{{ getUnitClassResearch($index, 'startingNumber') }}" ng-click="buyUnitResearch($index, 'startingNumber')">
					<th>Starting Number</th>
					<td>{{ getUnitResearchValue($index, 'startingNumber').toString() }}</td>
					<td>{{ getUnitNext($index, 'startingNumber').toString() }}</td>
					<td>{{ getUnitCost($index, 'startingNumber').toString() }}
				</tr>
				<tr class="{{ getUnitClassResearch($index, 'priceMultiplier') }}" ng-click="buyUnitResearch($index, 'priceMultiplier')" ng-hide="getUnitClassResearch($index, 'priceMultiplier').isLow">
					<th>Starting {{ getCurrency().name }} Cost</th>
					<td>{{ getUnitResearchPercent($index, 'priceMultiplier').toString() }}%</td>
					<td>{{ getUnitNextPercent($index, 'priceMultiplier').toString() }}%</td>
					<td>{{ getUnitCost($index, 'priceMultiplier').toString() }}
				</tr>
				<tr class="{{ getUnitClassResearch($index, 'timeMultiplier') }}" ng-click="buyUnitResearch($index, 'timeMultiplier')" ng-hide="getUnitClassResearch($index, 'timeMultiplier').isLow">
					<th>Production Interval</th>
					<td>{{ getUnitResearchPercent($index, 'timeMultiplier').toString() }}%</td>
					<td>{{ getUnitNextPercent($index, 'timeMultiplier').toString() }}%</td>
					<td>{{ getUnitCost($index, 'timeMultiplier').toString() }}
				</tr>
			</table>
		</div>
	</div>
</div>