<!-- public/views/tabs/TerritoryMain.html -->

<div class="full-width" ng-controller="TerritoryController">
	<!-- TODO: Remove -->
	<button ng-click="cheat()">Cheat</button>
	<button ng-click="cheatGalaxy()">Cheat Galaxy</button>
	<h1>{{ getName() }}</h1>
	<div ng-show="!isCompleted()">
		<h3>Objective</h3>
		<p>{{ getObjectiveString() }}</p>
	</div>
	<div ng-show="isCompleted()">
		<button class="full-width" ng-click="complete()">Complete this {{getType()}}</button>
		<div class="full-width" ng-show="getGeneralResearch().autocomplete.value">
			
			<progressbar value="autocomplete.counter" max="autocomplete.max"><div class="progress-text">Autocompleting in {{ getSeconds(autocomplete.max - autocomplete.counter) }}s</div></progressbar>
		</div>
	</div>
	<p>{{ getCurrency().name }}: {{ getCurrency().amount.toString() }}, {{ getCurrencyPerSecond().toString() }} per second</p>
	<p>Each unit generates {{ getCurrency().name }} to buy more units. Click green units to buy.</p>
	<div class="fourth-width">Name</div>
	<div class="fourth-width">Cost</div>
	<div class="fourth-width">Owned</div>
	<div class="fourth-width">Produce</div>
	<div class="full-width unit-container unselectable" ng-repeat="unit in units track by $index" ng-click="buy($index)">
		<div class="fourth-width {{ getUnitClass($index) }}">{{ unit.name }}</div>
		<div class="fourth-width {{ getUnitClass($index) }}">{{ unit.cost.toString() }}</div>
		<div class="fourth-width {{ getUnitClass($index) }}">{{ unit.amount.toString() }}</div>
		<div class="fourth-width {{ getUnitClass($index) }}">{{ unit.produce.toString() }}</div>
		<div><progressbar class="unit-bar" value="unit.counter" max="unit.max"></progressbar></div>
	</div>
</div>