<!-- public/views/ship/Main.html -->

<div class="full-width" ng-controller="ShipController">
	<h1>Research</h1>
	<div ng-click="collapse('general')">
		<a ng-show="!isCollapsed('general')">[-]</a><a ng-show="isCollapsed('general')">[+]</a>General
	</div>
	<div ng-show="!isCollapsed('general')">
		<table class="main unselectable research">
			<tr class="research-header">
				<th></th>
				<th>Current</th>
				<th>Upgraded</th>
				<th>Cost</th>
			</tr>
			<tbody ng-repeat="research in getResearch() track by $index">
				<tr ng-show="!research.autocomplete.value" class="{{ getClass($index, 'autocomplete') }}" ng-click="buyResearch($index, 'autocomplete')">
					<th>Automatic {{ getComponents()[$index].name }} Generation</th>
					<td>Off</td>
					<td>On</td>
					<td>{{ getResearchCost($index, 'autocomplete') }} {{ getResource($index).name }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>